<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Account Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div th:include="navbar.html"></div>
    <div class="container">
        <h1>Account Transactions for Account Number: <span th:text="${accountNumber}"></span></h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Type</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Currency Code</th>
                <th>Account From</th>
                <th>Account To</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${viewDataPage.content}">
                <td th:text="${transaction.transactionid}"></td>
                <td th:text="${transaction.type}"></td>
                <td th:text="${transaction.date}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.currencycode}"></td>
                <td th:text="${transaction.accountfrom}"></td>
                <td th:text="${transaction.accountto}"></td>
            </tr>
            </tbody>
        </table>
        <div style="display: inline-block" th:if="${viewDataPage.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/bankingSystem/allAccountTransactions(accountId=${accountNumber}, size=${viewDataPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==viewDataPage.number + 1} ? active"></a>
        </div>
    </div>

</body>
</html>